body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 80px 10px;
  }

  video {
    width: 40vw;
    height: 30vw;
    margin: 2rem;
    background: rgb(44, 62, 80);
  }

  .videos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

